# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* Capabilities of R and its use in Data Science
* What is Jupyter Notebook
* What are the libraries used in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. SciPy

| Data Science Tools |
|--------|
|Apache Hadoop|
|Apache Spark|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author
YASIR